---
http_interactions:
- request:
    method: post
    uri: https://oauth.oclc.org/token?grant_type=client_credentials&scope=wcapi:view_institution_holdings
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oclc-Requestid:
      - 9078a26b-146e-4892-9082-817b1d1b4ace
      X-Oclc-Selfid:
      - 83f1054b-74b2-46b3-bcc1-4829b7fe4697
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"tk_Cau3hDKhZDTP2aiyrBtFUpqrgE3emUjtBD0I","expires_at":"2026-01-09
        02:20:53Z","authenticating_institution_id":"5689","scope":"wcapi:view_institution_holdings","principalID":"","context_institution_id":"5689","scopes":"wcapi:view_institution_holdings","token_type":"bearer","expires_in":1199,"principalIDNS":""}'
  recorded_at: Fri, 09 Jan 2026 02:00:53 GMT
recorded_with: VCR 6.4.0
