---
http_interactions:
- request:
    method: post
    uri: https://oauth.oclc.org/token?grant_type=client_credentials&scope=wcapi:view_institution_holdings
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oclc-Requestid:
      - aecd8729-9102-4c48-9270-75fb0ca543b4
      X-Oclc-Selfid:
      - edf904cd-4d96-4f5f-97c7-f9573c4d2652
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"tk_2DTh2kke7BIMemPiEdXKDQuvAOvjo9K0TISf","expires_at":"2026-01-06
        17:11:54Z","authenticating_institution_id":"5689","scope":"wcapi:view_institution_holdings","principalID":"","context_institution_id":"5689","scopes":"wcapi:view_institution_holdings","token_type":"bearer","expires_in":1199,"principalIDNS":""}'
  recorded_at: Tue, 06 Jan 2026 16:51:54 GMT
recorded_with: VCR 6.4.0
