---
http_interactions:
- request:
    method: post
    uri: https://oauth.oclc.org/token?grant_type=client_credentials&scope=wcapi:view_institution_holdings
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oclc-Requestid:
      - 7356c99b-6b94-4438-bb05-9255672483fe
      X-Oclc-Selfid:
      - 3a830484-bba0-4129-9d3c-07e19a2cd89f
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"tk_DK8tds2ej3HbwvLS6j7yyPaYzLi4BdIzGY89","expires_at":"2026-01-10
        00:24:48Z","authenticating_institution_id":"5689","scope":"wcapi:view_institution_holdings","principalID":"","context_institution_id":"5689","scopes":"wcapi:view_institution_holdings","token_type":"bearer","expires_in":1199,"principalIDNS":""}'
  recorded_at: Sat, 10 Jan 2026 00:04:48 GMT
recorded_with: VCR 6.4.0
