---
http_interactions:
- request:
    method: post
    uri: https://oauth.oclc.org/token?grant_type=client_credentials&scope=wcapi:view_institution_holdings
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oclc-Requestid:
      - 2ef11928-b4bf-4762-8c2d-505743eca701
      X-Oclc-Selfid:
      - 91ef1422-41a8-437c-bf1c-311edae3f183
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"tk_BpG66687TEYFDcQCpcITwDETaenN2pY0dZXS","expires_at":"2026-01-08
        01:11:42Z","authenticating_institution_id":"5689","scope":"wcapi:view_institution_holdings","principalID":"","context_institution_id":"5689","scopes":"wcapi:view_institution_holdings","token_type":"bearer","expires_in":1199,"principalIDNS":""}'
  recorded_at: Thu, 08 Jan 2026 00:51:42 GMT
recorded_with: VCR 6.4.0
