---
http_interactions:
- request:
    method: post
    uri: https://oauth.oclc.org/token?grant_type=client_credentials&scope=wcapi:view_institution_holdings
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oclc-Requestid:
      - 51138ff0-3921-451a-bbd2-3ea5d2a41975
      X-Oclc-Selfid:
      - d1dfe09e-bd7c-4651-883d-a38eedcf2f94
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"tk_QbVm2TGjT0JoSmrBMyLbp0Zqbd0mE5lVjUs4","expires_at":"2025-01-10
        20:59:30Z","authenticating_institution_id":"5689","scope":"wcapi:view_institution_holdings","principalID":"","context_institution_id":"5689","scopes":"wcapi:view_institution_holdings","token_type":"bearer","expires_in":1199,"principalIDNS":""}'
  recorded_at: Fri, 10 Jan 2025 20:39:30 GMT
recorded_with: VCR 6.3.1
