---
http_interactions:
- request:
    method: post
    uri: https://oauth.oclc.org/token?grant_type=client_credentials&scope=wcapi:view_institution_holdings
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Oclc-Requestid:
      - 32040e79-4eb4-441c-b0b4-cd89c465fb14
      X-Oclc-Selfid:
      - 5f76a91e-1a12-421c-91fb-ff0868d54de5
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"tk_duMxBzoniydg88uTQYOaxP7YInAmKj46YNAW","expires_at":"2025-01-13
        23:33:47Z","authenticating_institution_id":"5689","scope":"wcapi:view_institution_holdings","principalID":"","context_institution_id":"5689","scopes":"wcapi:view_institution_holdings","token_type":"bearer","expires_in":1199,"principalIDNS":""}'
  recorded_at: Mon, 13 Jan 2025 23:13:47 GMT
recorded_with: VCR 6.3.1
